.row-header {
  margin: 0;
  padding: 0 0; }

.row-content {
  margin: 0;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0;
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f; }

body {
  padding: 50px 0 0 0;
  z-index: 0; }

.navbar-dark {
  background-color: #512DAB; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DAB; }
  .carousel .carousel-item {
    height: 300px;
  }
    /* .carousel .carousel-item .img {
      /* position: absolute;
      top: 0;
      left: 40%; */
      /* min-height: 300px; */
     /* } */ */

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  background: #512DAB;
  color: white; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }

  .img-container {
    padding-top: 5px;
    display:flex ;
    justify-content: center;
  }